<app-template-container title="Liste des canaux">
  <div *ngIf="channels$ |async as collection">
    <div class="card-deck" *ngFor="let channel of collection">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{channel.name}}</h5>
          <h6 class="card-title">Description :</h6>
          <p class="card-text">{{channel.description}}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Created at : {{channel.created_at}}</small>
        </div>
      </div>
    </div>
  </div>
</app-template-container>
