<app-template-container title="Ajouter une channel">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Type</label>
      <input type="text" placeholder="Nom du canal..." class="form-control" id="name" formControlName="name">
    </div>
    <div class="form-group">
      <textarea rows="5" placeholder="Saisissez la description du canal..." class="form-control" id="description"
        formControlName="description"></textarea>
    </div>

    <app-btn type="submit" label="Envoyer"></app-btn>
  </form>
</app-template-container>
