:root {
  --app-primary: #71b4ec;
  --app-primary-dark: #0e3557;
  --app-secondary: #aaffe1;
  --app-tertiary: #ecc655;

  --app-light: #b2ffed;
  --app-light-head: #3fd4ac;
  --app-light-nav: #aba7fe;
  --app-light-footer: #f3e11e;
  --app-dark: #000000;
  --app-dark-nav: #5f4cc1;
  --app-dark-head: #a83232;
  --app-dark-footer: #6f0707;

  --app-error: #ec687c;
  --app-warning: #f09a69;
  --app-success: #b8d887;
}
