<!-- <div > -->
<app-template-full-width [title]="channel.name" *ngIf="channel$|async as channel">
  <div *ngIf="collection$ |async as collection">
    <!-- Affichage des messages -->
    <div *ngFor="let message of collection">
      {{message.text}}
    </div>
    <!-- Formulaire, création de message -->
    <div>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="text">Message:</label>
          <input type="text" class="form-control" id="text" formControlName="text">
        </div>
        <app-btn type="submit" label="Submit"></app-btn>
      </form>

    </div>

  </div>
</app-template-full-width>
